<div class="container">
  <h1>Edit space</h1>
  <%= simple_form_for [@space] do |f| %>
    <%= f.input :place_name %>
    <%= f.input :address %>
    <%= f.input :category, collection: Space::CATEGORY %>
    <%= f.input :description %>
    <%= f.input :max_capacity %>
    <%= f.input :price_per_booking %>
    <%= f.submit "Edit Space", class: "btn btn-success" %>
  <% end %>
  <br>
  <%= link_to "Back to Spaces", spaces_path, class: "btn btn-primary" %>
</div>
