<div class="container">
  <h1>All Spaces</h1>
  <ul class="list-group">
  <% @spaces.each do |space| %>
    <li class="list-group-item">
    <%= link_to space.place_name, space_path(space) %>
    <p>Category: <%= space.category %></p>
    <p>Maximum capacity: <%= space.max_capacity %></p>
    <p>Price per booking: <%= space.price_per_booking %></p>
  <% end %>
  <%= link_to "Add a Space", new_space_path, class: "btn btn-primary" %>
</div>
