<div class="container">
  <h1>Add a new Space</h1>
  <%= simple_form_for [@space] do |f| %>
    <%= f.input :place_name %>
    <%= f.input :address %>
    <%= f.input :category, collection: Space::CATEGORY %>
    <%= f.input :description %>
    <%= f.input :max_capacity %>
    <%= f.input :price_per_booking %>
    <%= f.submit "Add a Space", class: "btn btn-success" %>
  <% end %>
</div>
