<div class="container">
  <h1><%= @space.place_name %></h1>
  <p>Category: <%= @space.category %></li>
  <br>

  <%# add carosel banner %>
  <% if @space.photos.attached? %>
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <% @space.photos.each_with_index do |photo, index| %>
          <% if index == 0 %>
            <div class="carousel-item active">
          <% else %>
            <div class="carousel-item">
          <% end %>
            <%= cl_image_tag photo.key, class: "d-block carousel-img", crop: :fill %>
          </div>
        <% end %>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  <% else %>
    <img src="https://www.askideas.com/media/12/Add-Me-Please-Kitten-Face-Picture.jpg" alt="">
  <% end %>

  <div class="d-flex">
    <div class="col-5 p-3 flex-fill w-50">
      <ul class="ps-0 space-details">
        <li><p>Address: <%= @space.address %></li></p>
        <li><p>Description: <%= @space.description %></li></p>
        <li><p>Maximum Capacity: <%= @space.max_capacity %> persons</li></p>
        <li><p>Price per booking: Â£<%= @space.price_per_booking %></li></p>
      </ul>
      <br>
      <%= link_to "Back to Spaces", spaces_path, class: "btn btn-primary" %>
    </div>
    <br>
    <div class="col-5 p-3 flex-fill w-50">
      <% if @space.user != current_user %>
        <%= simple_form_for [@space, @booking] do |f| %>
          <%= f.input :date %>
          <%= f.input :covers %>
          <div class="justify-content-between">
            Grand Total: Â£ <%= @space.price_per_booking %>
            <br>
            <br>
            <%= f.submit "Book Now", class: "btn btn-success" %>
          </div>
        <% end %>
      <% else %>
        <div class="p-3 flex-fill d-flex justify-content-end">
          <%= link_to "Edit Space", edit_space_path(@space), class: "btn btn-success p-3 flex-fill" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="review-container row">
    <h1 class="mx-3" id="reviewstick"> All reviews </h1>
    <div class="d-flex">
      <div class="p-3 col-5 flex-fill w-50">
          <% @space.bookings.each do |booking| %>
            <% booking.reviews.each do |review| %>
            <div class="card p-3 mb-3">
              <h5><%="â­ï¸"*review.rating.to_i %>  ðŸ‘¤ <%= booking.user.first_name %></h5>
              <p> <%= review.content %> </p>
            </div>
            <% end %>
          <% end %>
      </div>
      <div class="p-3 col-5 flex-fill w-50" id="reviewform">
        <% if @booking1 %>
          <p>You've booked the space before, why don't you leave a review?</p>
          <%= simple_form_for [@booking1, @review] do |f| %>
            <%= f.input :rating, placeholder: "Rate from 0 to 5" %>
            <%= f.input :content %>
            <%= f.submit "Add a review", class: "btn btn-success" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

</div>
