<div class="container">
  <h1><%= @space.place_name %></h1>
  <p>Category: <%= @space.category %></li>
  <br>

  <%# add carosel banner %>
  <% if @space.photos.attached? %>
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <% @space.photos.each_with_index do |photo, index| %>
          <% if index == 0 %>
            <div class="carousel-item active">
          <% else %>
            <div class="carousel-item">
          <% end %>
            <%= cl_image_tag photo.key, class: "d-block w-100" %>
          </div>
        <% end %>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  <% else %>
    <img src="https://www.askideas.com/media/12/Add-Me-Please-Kitten-Face-Picture.jpg" alt="">
  <% end %>

  <div class="d-flex">
    <div class="p-3 flex-fill w-50">
      <ul>
        <li><p>Address: <%= @space.address %></li></p>
        <li><p>Description: <%= @space.description %></li></p>
        <li><p>Maximum Capacity: <%= @space.max_capacity %></li></p>
        <li><p>Price per booking: £<%= @space.price_per_booking %></li></p>
      </ul>
      <%= link_to "Back to Spaces", spaces_path, class: "btn btn-primary" %>
    </div>
    <br>
    <div class="p-3 flex-fill">
      <% if @space.user != current_user %>
        <%= simple_form_for [@space, @booking] do |f| %>
          <%= f.input :date %>
          <%= f.input :covers %>
          <div class="justify-content-between">
            Grand Total: £ <%= @space.price_per_booking %>
            <br>
            <br>
            <%= f.submit "Reserve", class: "btn btn-success" %>
          </div>
        <% end %>
      <% else %>
        <%= link_to "Edit Space", edit_space_path(@space), class: "btn btn-success justify-content-end" %>
      <% end %>
    </div>
  </div>
</div>
