All Spaces
<div class="container col-4">
  <% @spaces.each do |space| %>
  <%= link_to space.place_name, space_path(space) %>
  <%= space.address %>
  <%= space.max_capacity %>
  <%= link_to 'Update space',  edit_space_path(space) %>
  <%= link_to 'Delete space',  space_path(space), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <% end %>
</div>
<div>
Bookings of my Spaces
<% current_user.bookings_as_owner.each do |booking| %>
 <p> <%= booking.space.place_name %> </p>
 <% if booking.confirmed == true %>
    Booking confirmed? <i class="fa-solid fa-check"></i>
  <% else %>
    Booking confirmed?
  <% end %>

<% end %>
</div>
All Bookings
<div class="container col-4">
  <div>
    <% @bookings.each do |booking| %>
    <p> Place name: <%= booking.space.place_name %> </p>
    <p> Address: <%= booking.space.address %> </p>
    <p> Booked for: <%= booking.covers %> persons </p>
    <p> Date: <%= booking.date %> </p>
    <% if booking.confirmed == true %>
    <p> Booking confirmed </p>
    <% else %>
    <p> Pending confirmation </p>
    <% end %>
  <%= link_to 'Update',  edit_space_booking_path(id: booking.id, space_id: booking.space.id) %>
  <%= link_to 'Delete',  booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  </div>
  <% end %>

</div>

<%= link_to 'Add a new space', new_space_path %>

<%= link_to '< Back', spaces_path %>
