
  <% @spaces.each do |space| %>
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <% space.photos.each_with_index do |photo, index| %>
          <% if index == 0 %>
            <div class="carousel-item active">
          <% else %>
            <div class="carousel-item">
          <% end %>
            <%= cl_image_tag photo.key,  height: 300, width: 400, crop: :fill %>
            </div>
        <% end %>
      </div>
    </div>
    <div class="card-dash-infos">
      <div>
        <h2><%= link_to space.place_name, space_path(space), class: "text-decoration-none text-black"%></h2>
        <p>Category: <%= space.category %> </p>
        <p>Maximum capacity: <%= space.max_capacity %> persons</p>
      </div>
      <h2 class="card-trip-pricing">£<%= space.price_per_booking %></h2>
      <% if space.reviews != [] %>
        <h3 class="card-trip-user">⭐️ <%= space.reviews.map(&:rating).sum.to_f / space.reviews.count %> </h3>
      <% end %>
    </div>
              <div class="d-flex justify-content-between px-2">
            <%= link_to 'Update space', edit_space_path(space), class: "btn btn-outline-success" %>
            <%= link_to 'Delete space', space_path(space), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-outline-danger" %>
          </div>
  <% end %>
<div>
