<div id="<%= dom_id event_place %>">
  <p>
    <strong>Place name:</strong>
    <%= event_place.place_name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= event_place.address %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= event_place.category %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event_place.description %>
  </p>

  <p>
    <strong>Max capacity:</strong>
    <%= event_place.max_capacity %>
  </p>

  <p>
    <strong>Price per booking:</strong>
    <%= event_place.price_per_booking %>
  </p>

</div>
