<p style="color: green"><%= notice %></p>

<%= render @event_place %>

<div>
  <%= link_to "Edit this event place", edit_event_place_path(@event_place) %> |
  <%= link_to "Back to event places", event_places_path %>

  <%= button_to "Destroy this event place", @event_place, method: :delete %>
</div>
